

.aboutus{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: flex-start;
}

.introduceteam{
    margin-top: 2%;
}


/*Create card box for creating cards automatically*/
.membercard{
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
    gap: 30px;
}

/*Set card design*/
.card{
    background-color: #D93753;
    color: white;
    height: 110%;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.memberpic{
    margin-top: 10%;
    width: 70%;
}
/*Set nickname style*/
.nickname{
    margin-top: 20%;
    font-weight:600;
    font-size:large;
}

/*Set name style*/
.name{
    margin-top: 10%;
    font-weight:300;
    margin-bottom: 2%;
}

/*Set role of ui designer style*/
.role{
    margin-top: 10%;
    font-weight:600;
    color: #F0A830;
}

