.logo {
    margin-left: 0.5%;
    margin-right:12%;
}
.navbar {
    margin-top: 15px;
    display: flex;
    justify-content:left;
    align-items: center;
    height: 60px;
  }
  
.navbar-list {
    display: flex;
    list-style-type: none;
    font-weight: semibold;

}

.navbar-item {
    margin-top: 5px;
    font-size: 25px;
    margin-left: 20%;
}
  
.navbar-link {
    color: white;
    text-decoration: none;
}
  
.navbar-link:hover {
    color: #DB6154;
}

.navbar-link:active {
    color: #983C32;
}

.LoginButton {
    margin-top: -15px;
    margin-left: 10px;
    background-color: #D93753;
    border:#D93753;
    color:white;
    border-radius: 25px;
    font-size: 20px;
    height: 120%;
    width: 200%;
}

.LoginButton:hover {
    background-color: #DB6154;
    border:#DB6154;
}

.LoginButton:active {
    background-color: #983C32;
    border:#983C32;
}
  